<!DOCTYPE html>
<html lang="en">
<head>
<style>
    body {background-color:powderblue;}
    h1 {color:violet;
        font-family:Times new roman;
        font-size:200%;
        }
    p {color:red;
       font-family:courier;
       font-size:120%
       }
</style>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h1>VISION AND MISSION</h1>
<p>As our name suggests, at Fresh Fruits Company, our vision is to supply every one of our customers with the freshest, highest quality fruit and vegetables. In a country of expatriates, we aim to source products from every country, so everyone has a taste of home—and the exotic flavours they may have never tried—all with our signature freshness</p>
<P>Add to this our desire to supply you and your customers delicious foods at a price that is as terrific as the taste.

We achieve our quality through a rigorous selection of farms and partner suppliers who share our vision of affordable quality, as well as our insistence on operating a short supply chain; a dedicated and ultra-efficient logistics system, and a brand new, state-of-the-art storage facility that underscores our commitment to fast, fresh delivery.

At Fresh Fruits, we deliver a whole world of freshness—no matter who, or where you are</P>
<h1>CORE VALUES</h1>
<p>At Fresh Fruits, we believe customer satisfaction begins with the earth: the land from which the grower creates fine brands and fine produce that are key to our way of doing business.

We believe that integrity, trustworthiness and honesty are integral to who we are as a company, and so, we insist that at every stage of what we do, Fresh Fruits works in partnership with our suppliers,. We insist on ‘Fair Trade’ principles and ethical business practices that support even the smallest grower.

We also stipulate that the choice of produce we accept, and its delivery to the supermarket shelf and your customers’ tables, are all done to the highest ethical and quality standards.

It is this passion for getting things right and our refusal to compromise on quality that have established our reputation for nearly four decades.</p>
</body>
</html>