<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
    background-color:pink;
   }
h1 { color:red;}
h2 { color:brown;}
</style>

    <meta charset="UTF-8">
    <title>contact</title>
</head>
<body>
<h1>CONTACTS</h1>
<h2>For More Information<br><br>
    Located in the Pune,India Al Fruit and Vegetable Market, Fresh Fruits Company is ideally located for you to visit us. We would be delighted to show you around our brand new head office and storage and fleet delivery facilities, so you can see for yourself just how we can deliver every need you and your clients may have
</h2>
<h2>A1 Fruit and Vegetable Market,<br>
Hinjawadi, PUNE<br>
INDIA<br>

Tel: +917411493841</h2>


</body>
</html>